.main{
   width:100vw;
   box-sizing:border-box;
}
.title{
    // background-color:#dad;
   z-index:-1;
}
.nav{
    z-index:20;
}

.about{
    display:flex;
    flex-direction: row;
    margin-top:12vh;
    // background-color:#BBB;
    @media (max-width: 768px) {
      flex-direction:column;
      padding:3vh;
    }
}

.projects{
    margin-top:20vh;
    @media (max-width: 768px) {
        align-items: center;
      }
}
