.main{
   width:100vw;
   box-sizing: border-box;
//    background-color:#Dad;
   overflow-x: hidden;

}
.title{
    // background-color:#dad;
   z-index:-1;
//    border:1px solid red;

}
.nav{
    z-index:20;
}

.about{
    display:flex;
    flex-direction: row;
    margin-top:5vh;
    margin-bottom:4vh;
    // border:1px solid red;
    // background-color:#BBB;
    @media (max-width: 768px) {
      flex-direction:column;
    //   padding:3vh;
    }
}

.projects{
    // margin-top:16vh;
    // border:1px solid green;
    height:auto;
    // background-color: #bed;
    @media (max-width: 768px) {
        align-items: center;
        margin-top:8vh;
      }
}
