.App {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  @import './pages/Main/main.scss';
  // @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

  @font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), url(./fonts/RobotoMono-Regular.ttf) format('truetype');
}
  
  body {
    background-color:#222222;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 700;
    color:#64FFDA;
    font-family: 'Roboto Mono';
  }
  
  h3 {
    font-size: 16px;
    font-weight: 600;
    color:white;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
  
  h5 {
    font-size: 14px;
    font-weight: 400;
  }
  
  h6 {
    font-size: 7px;
    font-weight: 700;
  }
  
  p {
    font-size: 12px;
    font-weight: 400;
  }